*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
html, 
body {
  height: 100%;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----------------------------------------------------- */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}
.main {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
[class*='__container'] {
    max-width: 1200px;
    margin: 0 auto;
}
*::selection {
    background-color: rgba(0, 0, 0, 0.1);
}
/* ----------------------------------------------------- */
.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_form {
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
}
.main-title {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5%;
    color: var(--primary-color);
}
.main-input {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 5%;
    border-left: 1px solid gray;
    animation: caret 0.5s infinite;
}
.main-input:focus {
    outline-style: none;
    border-left: none;
}
.main-input:not(:placeholder-shown) {
    border-left: none;
}
.main-but {
    width: 100px;
    background-color: transparent;
    text-align: left;
    /* ---------------------- */
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
}
@keyframes caret {
    0% {
        border-color: white;
    }
    50% {
        border-color: gray;
    }
    100% {
        border-color: white;
    }
}
label {
  color: red;
}
@media (max-width: 500px) {
  [class*='__container'] {
    max-width: 300px;
  }
}