.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_form {
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5%;
    color: var(--primary-color);
}
.main-input {
  margin-bottom: 5%;
  text-align: center;
}
.main-but {
    width: 100px;
    background-color: transparent;
    text-align: left;
    /* ---------------------- */
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 32px;
    color: var(--primary-color);
}
label {
	font-family: var(--primary-font);
	color: red;
}
@media (max-width: 500px) {
  [class*='__container'] {
    max-width: 300px;
  }
}