.timer__section {
    display: flex;
    align-content: center;
    justify-content: center;
}
.timer__container {
    display: flex;
    flex-direction: column;
}
.timer {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 120px;
    font-weight: 800;
    opacity: 1;
}
.timer._none {
    opacity: 0;
    transition: opacity 1s ease;
}
/* ----------------------------------------------------- */
.again {
    visibility: hidden;
}
.confirm {
    visibility: hidden;
}
._visible {
    visibility: visible;
    transition: visibility 1s ease;
}