input[type="file"] {
    width: 150px;
    height: 100%;
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
input[type="file"]::before {
    content: 'upload';
    display: inline-block;
    outline: none;
    width: 150px;
    text-align: center;
    /* ---------------------- */
    font-family: var(--primary-font);
    font-weight: 500;
	font-size: 32px;
    color: var(--primary-color);
	z-index: 400;
}
/* ----------------------------------------------------- */
.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img {
    max-width: 300px;
    margin-bottom: 15%;
    position: relative;
}
.uploadForm {
    display: flex;
    align-items: center;
	justify-content: center;
}
.upload {
	text-align: center;
}
.qw12::before,
.qw12  {
	pointer-events: none;
}
.submit {
	display: none;
    width: 150px;
}
.check {
	display: none;
}
.progress {
    display: none;
    height: 2px;
	margin-top: 10%;
}
.progress::-webkit-progress-bar {
	background-color: white;
}
.progress::-webkit-progress-value{
    background-color: var(--primary-color);
    border-radius: 0 15px 15px 0;
}
/* ----------------------------------------------------- */
.checking,
.submitting {
	font-family: var(--primary-font);
	font-size: 16px;
	color: var(--primary-color);
	text-align: center;
	display: none;
}
.checking::before {
  	animation: checking 2s infinite;
	content: "";
}
.submitting::before {
	animation: submitting 2s infinite;
  	content: "";
}
@keyframes checking {
	0% { content: 'checking .'; }
	70% { content: 'checking ..'; }
	100% { content: 'checking ...'; }
}
@keyframes submitting {
	0% { content: 'submitting .'; }
	70% { content: 'submitting ..'; }
	100% { content: 'submitting ...'; }
}